/* Start of Global Stlyes */



.Main-content{
  
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
   


    justify-content: center;

}
/* Remove Blue Link Highlight */
a{
    color: inherit;
    text-decoration: none;
}

.btn{
    color: #566787;
    float: right;
    font-size: 15px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    margin-top: 10px;
 
}

#Sidebar-bootstrap{
    display:block;
    position: fixed;
    height: 100%;
    overflow: auto;
    max-width: 25vw; 

}
hr{
    margin: 1rem 0;
    color: white;
}



/* End of Global Styles */






/* --------------------------------------------------------------------- */


/* Start Login Page */

#Login-Logout{


    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    transition: 30s;
    height: 0;
   

    animation-name: bgSlides;
    animation-direction: alternate-reverse;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
  


}
@keyframes bgSlides{
    0%
    {
        background-image: url(BGpics/1.jpg);
    }
    20%
    {
        background-image: url(BGpics/2.jpg);
    }
    40%
    {
        background-image: url(BGpics/3.jpg);
    }
    60%
    {
        background-image: url(BGpics/4.jpg);
    }
    80%
    {
        background-image: url(BGpics/5.jpg);
    }
    100%
    {
        background-image: url(BGpics/6.jpg);
    }
}


h3{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}
h5{
    text-align: center;
    color: rgb(0, 0, 0);
}

.pculogo{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.LoginContainer{
    margin-top: 40px;
    
   
}

.LoginBox{
   
    width: 400px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    border-radius:10px;
    /* border:solid 2px #cccccc; */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8) ;
    color: aliceblue;

   
}
.Login-content{
    width: 100%;
    height: 50px;
    margin-top: 35px;
    padding: 2px;
    text-align: center;
    display: block;
}
.Login-content input{

    width: 250px;

} 
.Login-checkbox{
    margin-top: 20px;
    margin-left: 50px;
}

.Login-checkbox input{
    width: 15px;
    height: 15px;
}

.Login-Button-content{
    margin-top: 10px;   
   text-align: right;

}
.Login-Button-content input{
    margin-left: 250px;
    width:55px;
    border-radius: 5px;
    display: block;
}
.Login-Button-content input:hover{
    opacity: 0.5;
    transition: 0.2s;
 
    
}




/* End Login Page */



/* -------------------------------------------------------------------- */


/* Start Dashboard Page */





/* End Dashboard Page */
/* --------------------------------------------------- */
/* Sidebar */







/* --------------------------------------------------- */
/* Products */

.Product_container{
    max-width: 200px;
    max-height: 200px;


}
.AddProd form {
    width: auto;
    height: 100px;
    border-radius: 2px;

}

.boxprice, .boxquantity, .selectsize, .boxprod, .Addbutton{
display: inline-block;
font-size: 15px;
margin: 5px;
}



